# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# OS and editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs and temporary files
*.log
*.tmp

# Generated optimization intermediates
best_pso_params.pkl
best_gwo_swarm_params.pkl
